html {
  background: #16a085;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #8e44ad;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #8e44ad;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  cursor: pointer;
}
label:first-child {
  margin-bottom: 0;
  border-bottom: none;
}

.button,
.rerun-button {
  padding: 10px 20px;
  border-radius: 3px;
  background: #8e44ad;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
.button:hover,
.rerun-button:hover {
  background: #7f3d9b;
}
.button.rerun-button,
.rerun-button.rerun-button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
  display: none;
}

.text-center {
  text-align: center;
}

.modal-wrap {
  max-width: 600px;
  margin: 50px auto;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.97, -0.46, 0.56, 1.75);
  transition: -webkit-transform 500ms cubic-bezier(0.97, -0.46, 0.56, 1.75);
  transition: transform 500ms cubic-bezier(0.97, -0.46, 0.56, 1.75);
  transition: transform 500ms cubic-bezier(0.97, -0.46, 0.56, 1.75), -webkit-transform 500ms cubic-bezier(0.97, -0.46, 0.56, 1.75);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(0deg) scale(1);
          transform: rotateX(0deg) scale(1);
}

.modal-header {
  height: 45px;
  background: white;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px 5px 0 0;
}
.modal-header span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.modal-header span.is-active {
  background: rgba(0, 0, 0, 0.4);
  background: #8e44ad;
}

.modal-bodies {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.modal-body {
  background: white;
  padding: 40px 100px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
.modal-body.is-showing {
  display: block;
}

.hcolor {
  background: #8e44ad;
  border: none;
  width: 45px;
  height: 45px;
  margin: 0 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: goOut 200ms ease-in-out forwards;
          animation: goOut 200ms ease-in-out forwards;
}
.hcolor span {
  background: #8e44ad;
}

@-webkit-keyframes goOut {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 45px;
  }
}

@keyframes goOut {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 45px;
  }
}
.animate-out {
  -webkit-animation: out 600ms ease-in-out forwards;
          animation: out 600ms ease-in-out forwards;
  padding: 0;
  opacity: 1;
  border-radius: 50%;
  margin: 0px 50%;
  background: #8e44ad;
}
.animate-out .title, .animate-out .description, .animate-out .text-center, .animate-out form {
  display: none;
}

.animate-in {
  -webkit-animation: in 500ms ease-in-out forwards;
          animation: in 500ms ease-in-out forwards;
  display: block;
}

.animate-up {
  -webkit-transform: rotateX(70deg) scale(0);
          transform: rotateX(70deg) scale(0);
}

.pulse:after {
  content: "";
  -webkit-animation: pulse 500ms ease-in-out;
          animation: pulse 500ms ease-in-out;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 0 1px 3px #8e44ad, 0 0 0 6px #fff, 0 0 3px 9px #8e44ad, 0 0 0 12px #fff, 0 0 5px 15px #8e44ad;
}

@-webkit-keyframes out {
  0% {
    width: 100%;
    height: 500px;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  30% {
    width: 200px;
    height: 200px;
    -webkit-transform: translate(90%, 0px);
            transform: translate(90%, 0px);
  }
  60% {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px);
  }
  100% {
    opacity: 0;
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -30px);
            transform: translate(-50%, -30px);
  }
}

@keyframes out {
  0% {
    width: 100%;
    height: 500px;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
  }
  30% {
    width: 200px;
    height: 200px;
    -webkit-transform: translate(90%, 0px);
            transform: translate(90%, 0px);
  }
  60% {
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-200%, 0px);
            transform: translate(-200%, 0px);
  }
  100% {
    opacity: 0;
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -30px);
            transform: translate(-50%, -30px);
  }
}
@-webkit-keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    width: 12px;
    height: 12px;
  }
  100% {
    opacity: 0;
    width: 500px;
    height: 500px;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    width: 12px;
    height: 12px;
  }
  100% {
    opacity: 0;
    width: 500px;
    height: 500px;
  }
}
